[DEFAULT]
file_last_ts_default = last_timestamp/last_ts_default.txt
bulk_insert_amount = 1
bulk_update_amount = 5000

#MongoDB
mongodb_host_primary = <host:port>
mongodb_host_secondary = <host:port>
mongodb_database = <database>
mongodb_database_log = <database-log>

#Amazon CloudSearch
cloudsearch_user = <user>
cloudsearch_id = <id>
cloudsearch_key = <value>
cloudsearch_domain = <domain>
cloudsearch_region = us-east-1

[DRIVERS]
collection = drivers
oplog_ns = %(mongodb_database)s.%(collection)s
file_last_ts_all = last_timestamp/last_ts_%(collection)s_all.txt
file_last_ts_insert = last_timestamp/last_ts_%(collection)s_insert.txt
file_last_ts_update = last_timestamp/last_ts_%(collection)s_update.txt
file_last_ts_delete = last_timestamp/last_ts_%(collection)s_delete.txt

[CUSTOMERS]
collection = customers
oplog_ns = %(mongodb_database)s.%(collection)s
file_last_ts_all = last_timestamp/last_ts_%(collection)s_all.txt
file_last_ts_insert = last_timestamp/last_ts_%(collection)s_insert.txt
file_last_ts_update = last_timestamp/last_ts_%(collection)s_update.txt
file_last_ts_delete = last_timestamp/last_ts_%(collection)s_delete.txt
